* {
    display: borderbox;
    height: auto;
    width: auto;



}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* padding: 10%;
    border: 2px; */
    border-color: black;
    height: auto;
    width: auto;
    padding-top: 12%;

}


.label {
    margin: 2px;
    padding: 10px;
}